name: Deploy Slidev Presentation

on:
  workflow_dispatch:
  schedule:
    - cron: "*/30 * * * *"
  push:
    branches: [main]
    paths:
      - "presentation/**"
      - "speech/**"
      - ".github/workflows/deploy.yml"

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: pages
  cancel-in-progress: false

jobs:
  build-presentation:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Cache Presentation Dist
        id: cache-slides
        uses: actions/cache@v4
        with:
          path: presentation/dist
          key: ${{ runner.os }}-slides-${{ hashFiles('presentation/**') }}

      - name: Setup Node.js
        if: steps.cache-slides.outputs.cache-hit != 'true'
        uses: actions/setup-node@v4
        with:
          node-version: "lts/*"

      - name: Install and Build Slides
        if: steps.cache-slides.outputs.cache-hit != 'true'
        run: |
          npm i -g @antfu/ni
          cd presentation
          nci
          npx playwright install --with-deps chromium
          nr build --base /
          npx slidev export --format pdf --dark --per-slide --output dist/presentation.pdf
          npx slidev export --format pptx --output dist/presentation.pptx
          python -m pip install python-pptx
          python patch_pptx.py

      - name: Upload Presentation Artifact
        uses: actions/upload-artifact@v4
        with:
          name: presentation-dist
          path: presentation/dist/

  build-speech:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Cache Speech Dist
        id: cache-speech
        uses: actions/cache@v4
        with:
          path: speech-dist-temp
          key: ${{ runner.os }}-speech-${{ hashFiles('speech/speech.md') }}

      - name: Install Fonts and TeX
        if: steps.cache-speech.outputs.cache-hit != 'true'
        run: |
          sudo apt-get update
          sudo apt-get install -y fonts-dejavu fonts-liberation texlive-xetex texlive-fonts-recommended texlive-latex-extra texlive-lang-cyrillic

      - name: Run Pandoc
        if: steps.cache-speech.outputs.cache-hit != 'true'
        uses: r-lib/actions/setup-pandoc@v2

      - name: Build Speech
        if: steps.cache-speech.outputs.cache-hit != 'true'
        run: |
          cd speech
          pandoc speech.md -o speech.pdf --pdf-engine=xelatex -V mainfont="DejaVu Sans" -V monofont="DejaVu Sans Mono" -V geometry:margin=4cm
          pandoc speech.md --reference-doc=template.docx -o speech.docx
          pandoc thesis.md -o thesis.pdf --citeproc --pdf-engine=xelatex -V mainfont="DejaVu Sans" -V monofont="DejaVu Sans Mono" -V geometry:margin=4cm
          pandoc thesis.md --reference-doc=template.docx --citeproc -o thesis.docx
          mkdir -p ../speech-dist-temp
          cp speech.pdf ../speech-dist-temp/
          cp speech.docx ../speech-dist-temp/
          cp thesis.docx ../speech-dist-temp/
          cp thesis.pdf ../speech-dist-temp/

      - name: Upload Speech Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: speech-dist
          path: ${{ steps.cache-speech.outputs.cache-hit == 'true' && 'speech-dist-temp/' || 'speech/' }}

  prepare-archive:
    needs: [build-presentation, build-speech]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Checkout External Repos
        run: |
          git clone --depth 1 https://github.com/dvprokofiev/seating-generator-frontend frontend
          git clone --depth 1 https://github.com/dvprokofiev/seating-generator-backend backend

      - name: Download Presentation and Speech
        uses: actions/download-artifact@v4
        with:
          path: temp_artifacts
          merge-multiple: true

      - name: Create Final Archive
        run: |
          mkdir -p final_archive
          cp -r frontend final_archive/
          cp -r backend final_archive/
          ls -la temp_artifacts
          cp -r temp_artifacts/presentation-dist/ final_archive/presentation
          cp temp_artifacts/speech.pdf final_archive/
          cp temp_artifacts/speech.docx final_archive/
          cp temp_artifacts/thesis.docx final_archive/
          cp temp_artifacts/thesis.pdf final_archive/
          cp temp_artifacts/presentation.pdf final_archive/
          cp temp_artifacts/presentation.pptx final_archive/

          rm -rf final_archive/**/.git
          zip -r seating-generator.zip final_archive

      - name: Upload Final Archive
        uses: actions/upload-artifact@v4
        with:
          name: final-archive
          path: seating-generator.zip

  deploy:
    needs: [build-presentation, build-speech, prepare-archive]
    runs-on: ubuntu-latest
    steps:
      - name: Download all
        uses: actions/download-artifact@v4
        with:
          path: final_dist
          merge-multiple: true

      - name: Upload for Pages
        uses: actions/upload-pages-artifact@v3
        with:
          path: final_dist

      - name: Deploy
        uses: actions/deploy-pages@v4
